<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Visualization"
            id="com.ghvandoorn.zest.statemachine">
      </category>
      <view
            name="State Machine View"
            icon="icons/sample.gif"
            category="com.ghvandoorn.zest.statemachine"
            class="com.ghvandoorn.zest.statemachine.views.StateMachineView"
            id="com.ghvandoorn.zest.statemachine.views.StateMachineView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.ghvandoorn.zest.statemachine.views.StateMachineView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ghvandoorn.zest.statemachine.handlers.ApplyTreeLayoutHandler"
            id="com.ghvandoorn.zest.statemachine.handlers.ApplyTreeLayout"
            name="Tree Layout">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.ghvandoorn.zest.statemachine.views.StateMachineView">
         <menu
               label="Layouts">
            <command
                  commandId="com.ghvandoorn.zest.statemachine.handlers.ApplyTreeLayout"
                  label="Tree Layout"
                  style="radio">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
